<%- include('header'); -%>
<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ducimus animi, corporis dicta, recusandae earum provident possimus voluptatem deleniti, ipsum cupiditate ratione quaerat magnam harum nihil. Illum esse excepturi omnis?</p>
<%- include('footer'); -%>